
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-info {
        .user-image {
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 20px;
            border-radius: 50%;
            box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.3);
        }
    
        .user-name {
            font-size: 30px;
            margin-bottom: 20px;
            max-width: 500px;
            text-align: center;
        }    
    }

    .button {
        margin: 20px;
        font-size: 20px;
        border-radius: 20px;
        background-color: #1ed660;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        min-width: 200px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
    }
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
}

.success {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 20px;
    font-size: 20px;
    background-color:rgb(4, 75, 8);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
}